$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #474f52;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 17px;
}


body a {
  text-decoration: none;
  color: #212529;
}

span.extra-info {
  color: #474f52;
}

span.extra-info a {
  color: inherit;
}

span.coauthors {
  color: #4FB09E;
}

span.coauthors a {
  color: inherit;
}

span.links {
  color: #b04f61;
}

span.links a {
  color: inherit;
}

span.status {
  color: #b04f61;
}

span.status a {
  color: inherit;
}

span.abstract {
  color: #474f52;
}

span.abstract a {
  color: inherit;
}

.col-md-6.center-image {
  text-align: center;
}

.col-md-6.center-image img {
  display: inline-block;
  margin: 0 auto;
}
