$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  text-decoration: none;
  color: $linkColor;
}

span.extra-info {
  color: #474f52;
}

span.extra-info a {
  color: currentColor;
}

span.coauthors {
  color: #4FB09E;
}

span.coauthors a {
  color: currentColor;
}

span.links {
  color: #b04f61;
}

span.links a {
  color: currentColor;
}

span.abstract {
  color: #474f52;
}

span.abstract a {
  color: currentColor;
}

span a {
  color: inherit;
}